{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script crossorigin src="https://unpkg.com/three@0.126.1/build/three.min.js"></script>
<script crossorigin src="https://unpkg.com/@acdh/network-visualization@latest/lib/network-visualization.umd.js"></script>
<script src="{% static 'netvis/js/netvis.js' %}"></script>
<style type="text/css">
    #yourmap_text{
        min-height:600px;
    }
</style>
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                {% if object.get_prev %}
                <h2>
                <a href="{{ object.get_prev }}" title="previous">
                    <i data-feather="chevron-left"></i>
                </a>
                </h2>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1 style="text-align: center; margin: .3em;">
                <small><a href="{{ object.get_listview_url }}" title="back to listview"><small>{{ class_name }}</small></a></small>
                {{ object }}
                {% if user.is_authenticated %}
                    <a href="{{ object.get_edit_url }}" title="edit">
                    <i data-feather="edit"></i>
                    </a>
                {% endif %}
                {% if 'archeutils' in APPS %}
                <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
                    <i data-feather="download"></i>
                </a>
                {% endif%}
                </h1>
            </div>
            <div class="col-md-2">
                <h2>
                {% if object.get_next %}
                <a href="{{ object.get_next }}" style="float:right" title="next">
                    <i data-feather="chevron-right"></i>
                </a>
                </h2>
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <legend style="border-radius:5px;background-color:#F1F1F1;margin:.5em;padding:.3em;font-size:28px;">Metadaten zum Text</legend>
                    <div class="col-md-6" style="margin-left:auto;margin-right:auto;">                        
                        <table class="table table-sm table-hover">                        
                            <tbody style="text-align:left;">                    
                            {% for x in object.field_dict %}
                                {% if x.value %}
                                        {% if x.verbose_name != 'ID' and x.verbose_name != 'rvn_stelle_text_text' and x.verbose_name != 'Titel' %}
                                            <tr>
                                                {% if x.help_text %}
                                                <th style="width:20%"><abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr></th>                      
                                                {% else %}
                                                <th style="width:20%">{{ x.verbose_name }}</th>                      
                                                {% endif %}
                                                <td>
                                                    {% if x.f_type == 'M2M' %}
                                                    {% for y in x.value %}
                                                        <li><a href="{{ y.get_absolute_url }}">{{ y }}</a></li>
                                                    {% endfor %}
                                                    {% elif  x.f_type == 'FK' %}
                                                        <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                                                    {% elif  x.f_type == 'FK' %}
                                                        <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                                                    {% elif  x.f_type == 'REVERSE_RELATION' %}
                                                    {% for y in x.value %}
                                                        <li><a href="{{ y.get_absolute_url }}">{{ y }}</a></li>
                                                    {% endfor %}
                                                    {% elif  x.f_type == 'SIMPLE' %}
                                                        {{ x.value }}
                                                    {% endif %}
                                                </td>                                                
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                            {% endfor %}                    
                            </tbody>                        
                        </table>
                    </div>
                    <div class="col-md-6" style="margin-left:auto;margin-right:auto;">
                        <div id="visualization" style="position: relative; height: 600px; background: #fafafa;"></div>
                        <script type="text/javascript">
                            showGraph("{% url 'netvis:graph' app_name=app_name model_name=class_name|lower pk=object.id %}", "visualization")
                        </script>
                    </div>
                </div>
            </div>    
        </div>        
    </div> 
    <div class="card-body">
        {% comment %} <div class="row">
            <legend style="border-radius:5px;background-color:#F1F1F1;margin:.5em;padding:.3em;font-size:28px;">UseCases</legend> 
            {% for x in object.use_case %}
            {% if x %}
            <div class="col-md-3">                
                <div class="card" style="margin-bottom:1em;border:1px solid #F1F1F1;border-radius:5px;">
                    <div class="card-header">
                        <h4 style="text-align:center;"><a href="{{ x.get_absolute_url }}">{{ x.title }}</a></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <tbody>                                
                                <tr>
                                    <th><abbr title="Stichworte">Stichwort(e)</abbr></th>
                                    <td>
                                        <ul>
                                        {% for k in x.key_word.all %}                                        
                                            <li><a href="{{ k.get_absolute_url }}">{{ k }}</a></li>                                        
                                        {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-12" style="margin:1em;text-align:center;">
                <p>Keine UseCases gefunden!</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>{% endcomment %}
        {% if user.is_authenticated %}
        <div class="card-footer" style="text-align: right;">
        <a href="{{ object.get_delete_url }}" title="delete">
            <i data-feather="delete"></i>
        </a>
        </div>
        {% endif %}
    </div>
</div>  

{% endblock content %}