acdh-django-vocabs>=0.1.6
acdh-django-browsing>=1.0.0
acdh-django-netvis==3.1.0
Django>=3.1
django-cors-headers==3.7.0
django-mptt==0.11.0
djangorestframework-gis==0.17
requests>=2.25
tablib==3.0.0
psycopg2-binary
coreapi>=2.3.3
django-leaflet
