
{% load static %}
<footer class="footer mt-auto py-4">
         <div class="container-fluid">
            <div class="row justify-content-center">
               <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 text-center">
                  <div><a href="https://www.oeaw.ac.at/acdh/"><img src="{% static 'webpage/img/acdh_logo.svg' %}" alt="ACDH Logo" title="ACDH Logo"></a></div>
               </div>
               <div class="col-lg-4 col-md-3 col-sm-3">
                  <div>
                     <p><a href="https://www.oeaw.ac.at/acdh/">ACDH</a><br>
                        Austrian Centre for Digital Humanities
                        <br>
                        Österreichische Akademie der Wissenschaften
                        </p>
                     <p>
                        Bäckerstraße 13
                        <br>
                        1010 Wien
                        </p>
                     <p>
                        T: +43 1 51581-2200
                        <br>
                        E: <a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">acdh-ch-helpdesk@oeaw.ac.at</a></p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-4 col-sm-3">
                  <div class="row">
                     <div><span class="fs-6">HELPDESK</span><br><p>
                           ACDH operates a helpdesk offering advice and assistance on a wide range of digital
                           humanities issues.
                           </p>
                        <p><a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">e-Mail</a></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-3 col-md-4 col-sm-3">
                        <div class="col-md-4"><a id="github-logo" href="https://github.com/acdh-oeaw/dboebackend" class="nav-link"><i class="bi bi-github fs-1" visually-hidden="true"><span class="visually-hidden">Link to application's code repo</span></i></a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="text-center fs-6 fw-lighter">© Copyright OEAW | <a href="{% url 'webpage:staticpage' template='imprint' %}">Imprint</a></div>
         </div>
      </footer>