# API views for {{ app_name }} created by appcreator
import django_filters.rest_framework
from rest_framework import viewsets


from {{ app_name }}.api_serializers import (
{%- for x in data %}
    {{ x.model_name }}Serializer{{ "," if not loop.last }}
{%- endfor %}
)
from {{ app_name }}.models import (
{%- for x in data %}
    {{ x.model_name }}{{ "," if not loop.last }}
{%- endfor %}
)
from {{ app_name }}.filters import (
{%- for x in data %}
    {{ x.model_name }}ListFilter{{ "," if not loop.last }}
{%- endfor %}
)

{% for x in data %}
class {{ x.model_name }}ViewSet(viewsets.ModelViewSet):
    queryset = {{ x.model_name }}.objects.all()
    serializer_class = {{ x.model_name }}Serializer
    filter_backends = [django_filters.rest_framework.DjangoFilterBackend]
    filter_class = {{ x.model_name }}ListFilter

{% endfor %}


# cut&paste the following snippet into your projects urls.py

# from {{app_name }} import api_views as {{app_name }}_api_views

{%- for x in data %}
# router.register(r'{{ x.model_name|lower }}', {{ app_name }}_api_views.{{ x.model_name }}ViewSet){% endfor %}
